<div class="container my-3 py-3">
    <div class="row">
      <div class="col-lg-6">
        <h1>Burger Menu</h1>
        <img src="/assets/img/burger.png" alt="burger">
        <h2>Create a Burger</h2>
        <div class="input-group mb-3" id="create-burger">
          <input type="text" class="form-control" placeholder="New burger" name="burger" aria-describedby="burger">
          <div class="input-group-append">
            <button class="btn btn-outline-danger" type="button" id="burger">Order Burger</button>
          </div>
        </div>
        {{!-- <form id="create-burger" class="button-size">
          <div class="form-group">
            <textarea type="text" class="form-control" name="burger"></textarea>
            <button class="btn btn-danger" type="submit">Order Burger!</button>
          </div>
        </form> --}}
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="devour">
              <h3 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                BURGERS TO DEVOUR +
              </h3>
              <div class="collapse" id="collapseExample">
                <ul>
                  {{#each burgers}}
                    {{#unless devoured}}
                    <p>
                      {{this.id}}. {{this.burger_name}}
                      <button data-burgerid="{{this.id}}" class="btn btn-danger devour-burger">Devour it!</button>
                    </p>
                    {{/unless}}
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="devoured">
              <h3 data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                BURGER DEVOUR HISTORY +
              </h3>
              <div class="collapse" id="collapseExample2">
                <ul>
                  {{#each burgers}}
                    {{#if devoured}}
                    <p>
                      {{this.id}}. {{this.burger_name}}
                      <button data-burgerid="{{this.id}}" class="btn btn-danger devour-burger">Devour it!</button>
                    </p>
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
